pipeline_locator:
  ros__parameters:
    mask_topic: "/pipeline/camera/segmentation_mask"
    depth_topic: "/unused"
    camera_info_topic: "/camera/camera_info"
    publish_topic: "/unused2"

    debug: True
    debug_topic: "/pipeline/debug_start_point"
